In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import scale
from sklearn.decomposition import PCA

In [2]:
df = pd.read_csv('./Bases de datos utilizadas/howtowin_10min.csv')
df.head()

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
0,4519157822,0,28,2,1,9,6,11,0,0,...,0,16567,6.8,17047,197,55,-643,8,19.7,1656.7
1,4523371949,0,12,1,0,5,5,5,0,0,...,1,17620,6.8,17438,240,52,2908,1173,24.0,1762.0
2,4521474530,0,15,0,0,7,11,4,1,1,...,0,17285,6.8,17254,203,28,1172,1033,20.3,1728.5
3,4524384067,0,43,1,0,4,5,5,1,0,...,0,16478,7.0,17961,235,47,1321,7,23.5,1647.8
4,4436033771,0,75,4,0,6,6,6,0,0,...,0,17404,7.0,18313,225,67,1004,-230,22.5,1740.4

In [3]:
try:
    df.drop(['gameId'], axis=1, inplace=True)
except ValueError:
    pass

In [4]:
df.columns

Index(['blueWins', 'blueWardsPlaced', 'blueWardsDestroyed', 'blueFirstBlood',
       'blueKills', 'blueDeaths', 'blueAssists', 'blueEliteMonsters',
       'blueDragons', 'blueHeralds', 'blueTowersDestroyed', 'blueTotalGold',
       'blueAvgLevel', 'blueTotalExperience', 'blueTotalMinionsKilled',
       'blueTotalJungleMinionsKilled', 'blueGoldDiff', 'blueExperienceDiff',
       'blueCSPerMin', 'blueGoldPerMin', 'redWardsPlaced', 'redWardsDestroyed',
       'redFirstBlood', 'redKills', 'redDeaths', 'redAssists',
       'redEliteMonsters', 'redDragons', 'redHeralds', 'redTowersDestroyed',
       'redTotalGold', 'redAvgLevel', 'redTotalExperience',
       'redTotalMinionsKilled', 'redTotalJungleMinionsKilled', 'redGoldDiff',
       'redExperienceDiff', 'redCSPerMin', 'redGoldPerMin'],
      dtype='object')

In [9]:
df_col_select = df[['blueGoldDiff', 'redGoldDiff','blueExperienceDiff','redExperienceDiff','blueTotalGold','redTotalGold']]

In [11]:
df_col_select.head()

,blueGoldDiff,redGoldDiff,blueExperienceDiff,redExperienceDiff,blueTotalGold,redTotalGold
0,643,-643,-8,8,17210,16567
1,-2908,2908,-1173,1173,14712,17620
2,-1172,1172,-1033,1033,16113,17285
3,-1321,1321,-7,7,15157,16478
4,-1004,1004,230,-230,16400,17404

In [22]:
X = df_col_select
y = df['blueWins']

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=24, train_size=.8)

model_selected = RandomForestClassifier()
model_selected.fit(X_train,y_train)

y_hat = model_selected.predict(X_test)

accuracy_col_selected = accuracy_score(y_pred=y_hat, y_true=y_test)
print(f'El score de accuracy en todo el dataframe es {accuracy_col_selected}')

cv_score_col_selected = cross_val_score(model_selected,X,y,cv=10,scoring='accuracy')
cv_score_selected_mean = cv_score_col_selected.mean()
print('La media del cross validation score del modelo entrenado con RandomForests en todo el df es {:.3f}'.format(cv_score_selected_mean))

El score de accuracy en todo el dataframe es 0.7059716599190283
La media del cross validation score del modelo entrenado con RandomForests en todo el df es 0.697

In [14]:
#El intento con muy pocas columnas es de 0.69, el peor de todos los intentos

In [17]:
#Vamos a intentar añadir más columnas a la mezcla, de azul y rojo

In [16]:
df.columns

Index(['blueWins', 'blueWardsPlaced', 'blueWardsDestroyed', 'blueFirstBlood',
       'blueKills', 'blueDeaths', 'blueAssists', 'blueEliteMonsters',
       'blueDragons', 'blueHeralds', 'blueTowersDestroyed', 'blueTotalGold',
       'blueAvgLevel', 'blueTotalExperience', 'blueTotalMinionsKilled',
       'blueTotalJungleMinionsKilled', 'blueGoldDiff', 'blueExperienceDiff',
       'blueCSPerMin', 'blueGoldPerMin', 'redWardsPlaced', 'redWardsDestroyed',
       'redFirstBlood', 'redKills', 'redDeaths', 'redAssists',
       'redEliteMonsters', 'redDragons', 'redHeralds', 'redTowersDestroyed',
       'redTotalGold', 'redAvgLevel', 'redTotalExperience',
       'redTotalMinionsKilled', 'redTotalJungleMinionsKilled', 'redGoldDiff',
       'redExperienceDiff', 'redCSPerMin', 'redGoldPerMin'],
      dtype='object')

In [24]:
df_col_select_2 = df[['blueGoldDiff', 'redGoldDiff','blueExperienceDiff','redExperienceDiff','blueTotalGold','redTotalGold',
                        'blueGoldPerMin','redGoldPerMin','blueTotalExperience','redTotalExperience']]

In [26]:
X = df_col_select_2
y = df['blueWins']

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=24, train_size=.8)

model_selected_2 = RandomForestClassifier()
model_selected_2.fit(X_train,y_train)

y_hat = model_selected_2.predict(X_test)

accuracy_col_selected_2 = accuracy_score(y_pred=y_hat, y_true=y_test)
print(f'El score de accuracy en todo el dataframe es {accuracy_col_selected_2}')

cv_score_col_selected_2 = cross_val_score(model_selected_2,X,y,cv=10,scoring='accuracy')
cv_score_selected_2_mean = cv_score_col_selected_2.mean()
print('La media del cross validation score del modelo entrenado con RandomForests en todo el df es {:.3f}'.format(cv_score_selected_2_mean))

El score de accuracy en todo el dataframe es 0.7069838056680162
La media del cross validation score del modelo entrenado con RandomForests en todo el df es 0.705

In [28]:
df_col_select_blue = df[['blueGoldDiff','blueExperienceDiff','blueTotalGold',
                    'blueGoldPerMin','blueTotalExperience','blueTotalMinionsKilled','blueTotalJungleMinionsKilled']]

In [30]:
X = df_col_select_blue
y = df['blueWins']

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=24, train_size=.8)

model_selected_blue = RandomForestClassifier()
model_selected_blue.fit(X_train,y_train)

y_hat = model_selected_blue.predict(X_test)

accuracy_col_selected_blue = accuracy_score(y_pred=y_hat, y_true=y_test)
print(f'El score de accuracy en todo el dataframe es {accuracy_col_selected_blue}')

cv_score_col_selected_blue = cross_val_score(model_selected_blue,X,y,cv=10,scoring='accuracy')
cv_score_selected_blue_mean = cv_score_col_selected_blue.mean()
print('La media del cross validation score del modelo entrenado con RandomForests en todo el df es {:.3f}'.format(cv_score_selected_blue_mean))

El score de accuracy en todo el dataframe es 0.7095141700404858
La media del cross validation score del modelo entrenado con RandomForests en todo el df es 0.714

In [ ]:
# La puntuación más alta seleccionando las columnas aparte que indicaba la PCA no supera el 71% de predicciones.
# Vamos a intentar introducir el PCA en el modelo y una vez tengamos entrenado el modelo con el PCA integrado veremos.